@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  --ff-barlow: "Barlow", sans-serif;
  --ff-fraunces: "Fraunces", serif;
  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-dark-moderate-cyan: hsl(168, 34%, 41%);
  --clr-dark-desaturated-blue: hsl(212, 27%, 19%);
  --clr-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --clr-dark-grayish-blue: hsl(232, 10%, 55%);
  --clr-grayish-blue: hsl(210, 4%, 67%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--ff-fraunces);
}
div,
body,
h1,
p,
h2,
h3,
img {
  margin: 0;
}
img,
picture {
  max-width: 100%;
  display: block;
}
.header {
  background-image: url(/assets/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.2em;
}
header {
  display: flex;
  position: relative;
  align-items: center;
}
.toggle {
  margin-left: auto;
}
.header-nav {
  display: none;
  background-color: white;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  padding-top: 1em;
}
.header-nav::after {
  content: "";
  position: absolute;
  right: 0;
  top: -25px;
  z-index: 1;
  border-bottom: 50px solid white;
  border-left: 50px solid transparent;
}
.nav-links {
  list-style-type: none;
  width: fit-content;
  margin: auto;
}

.nav-links li {
  margin-block: 1.5em;
  padding-left: 1.5em;
}
.nav-links li a {
  text-decoration: none;
  color: var(--clr-very-dark-grayish-blue);
  font-family: var(--ff-barlow);
}
.contact {
  background-color: var(--clr-yellow);
  padding: 0.8em !important;
  padding-inline: 1.5em !important;
  border-radius: 50px;
  margin-right: 1em;
  font-weight: 900 !important;
}
.header-heading {
  width: fit-content;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--clr-white);
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 700;
}
.arrow-down {
  margin-inline: auto;
  margin-bottom: 10em;
}

.responsive-image {
  height: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-heading {
  margin-left: auto;
  text-align: center;
}
.main-paragraph {
  text-align: center;
  font-family: var(--ff-barlow);
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--clr-dark-grayish-blue);
  margin: 1em;
}
.main-link {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: auto;
  text-align: center;
  color: var(--clr-dark-desaturated-blue);
  display: relative;
  margin-bottom: 3em;
}
.main-link::after {
  content: "";
  display: block;
  position: relative;
  top: -4.5px;
  z-index: -1;
  width: 130px;
  height: 5px;
  background-color: var(--clr-yellow);
  opacity: 0.3;
}
.box {
  background-size: 100%;
  border: 1px transparent solid;
  padding: 1em;
  background-repeat: no-repeat;
}
.box-details {
  margin-top: 20em;
}
.box-details h2 {
  font-family: var(--ff-fraunces);
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1.5em;
  text-align: center;
}
.box-details p {
  font-family: var(--ff-barlow);
  text-align: center;
  font-size: 0.9rem;
  line-height: 2;
}
.transform {
  background-image: url(/assets/mobile/image-transform.jpg);
}

.stand-out {
  background-image: url(/assets/mobile/image-stand-out.jpg);
}

.graphic-design {
  background-image: url(./assets/mobile/image-graphic-design.jpg);
}
.photography {
  background-image: url(/assets/mobile/image-photography.jpg);
}

.testimonials {
  padding: 2em;
}
.testimonials > h1 {
  color: var(--clr-grayish-blue);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 5px;
}
.sub-testimonial img {
  border-radius: 50%;
  width: 70px;
  margin: auto;
  margin-block: 3em;
}
.sub-testimonial p {
  font-size: 1.1rem;
  font-family: var(--ff-barlow);
  line-height: 1.5;
  text-align: center;
  color: var(--clr-dark-blue);
}
.sub-testimonial > div h2 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-weight: 900;
  font-size: 1.1rem;
}
.sub-testimonial > div p {
  color: var(--clr-grayish-blue);
  text-align: center;
  font-size: 0.8rem;
}

.image-gallery {
  height: 400px;
  margin-top: 3em;
  background-image: url(/assets/mobile/image-gallery-milkbottles.jpg),
    url(/assets/mobile/image-gallery-orange.jpg),
    url(/assets/mobile/image-gallery-cone.jpg),
    url(/assets/mobile/image-gallery-sugar-cubes.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left top, right top, left bottom, right bottom;
  background-size: 50% 200px, 50% 200px, 50% 200px, 50% 200px;
}
footer {
  background-color: hsl(168, 38%, 53%);
  padding: 1px;
}
footer h1 {
  color: var(--clr-dark-desaturated-cyan);
  text-align: center;
  margin-top: 1.4em;
  margin-bottom: 1em;
}
footer nav > ul,
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  width: 90%;
  font-family: var(--ff-barlow);
  font-size: 1rem;
  font-weight: 900;
  color: var(--clr-dark-desaturated-cyan);
  opacity: 0.8;
}
footer div {
  width: 40%;
  margin: auto;
  margin-block: 3em;
}
